@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto', sans-serif !important;
}

.App {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map {
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.filterPanel {
	flex-wrap: wrap;
/*	justify-content: center;
*/	align-items: center;
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 10px;
    width: 100%;
    max-width: 300px;
    height: 50%;
    background: rgba(100, 100, 100, .85);
    transition: .3s;
    overflow-y: scroll;
}

.filterPanel input {
	white-space: normal;
	vertical-align: top;
    font-size: 14px;
    display: inline;
    width: 41%;
    height: 75px;
    margin: 10px;
    cursor: pointer;
    color: white;
    border: none;
    transition: .3s;
}

.blueButton {
	background: rgb(20, 150, 250);
}

.redButton {
	background: rgb(204, 45, 50);
}

.purpleButton {
	background: rgb(160, 60, 140);
}

.greenButton {
	background: rgb(20, 180, 70);
}

.closePanel {
	top: 200%;
}

.filterPanel .selected {
	background: rgb(20, 180, 160);
}



/* main UI */

.main-ui-container {
	height:50px;
	z-index:100;
	background-color:#101620;
	text-align:center;
	position:static;
}

h1, h2, h3, h4 {
	margin:0;
	padding-top:.2em;
}

.main-ui-container h2 {
	color:#FFF;
}

.map-container {
	width:100%;
	height:100%;
}

.leaflet-container {
	width:100%;
	height:calc(100% - 50px);
	position:absolute;

}

.info-bar {
	width:100%;
	height:200px;
	bottom:-200px;
	position:absolute;
	background-color:#FFF;
	z-index:100;
	transition: 0.2s bottom;
}

.info-bar.open {
	bottom:0px;
}

/*****BUTTONS*****/

.togglePanelButton {
	position: absolute;
	z-index: 3;
	width: 250px;
	height: 50px;
	left: 50px;
	top: 65px;
	cursor: pointer;
	color: white;
    border: none;
    background: rgb(90, 90, 90);
    font-size: 1em;
}

.geoLocateButton {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 50px;
    display: flex;
    width: 250px;
	height: 50px;
    background: rgba(100, 100, 100, .8);
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
}

.geoLocateButton input {
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: white;
    border: none;
    background: rgb(226, 70, 70);
}

.numberOfShelters {
    font-size: 1.0em;
    margin: 40px;
    color: white;
    text-align: center;
}

.externalLinkButton {
	position: absolute;
	z-index: 2;
}

.externalLinkButton a {
	text-decoration: none;
	color: #ecf0f1;;
	padding: 15px 30px;
	background: #8e44ad;
	font-size: 1em;
	border-radius: .3rem;
}

.volunteerSuppliesButton {
	bottom: 35px;
    right: -100%;
}

.addAShelterButton {
	bottom: 85px;
    right: -100%;
}

input {
	border-radius: .3rem;
}



/******Responsiveness*****/

@media (min-width: 600px) {
	.geoLocateButton {
		top: 60px;
		right: 20px;
		left: auto;
		height: 50px;
		width: 260px;
	}

	.geoLocateButton input {
	    font-size: 16px;
	}

	.togglePanelButton {
		top: 60px;
	}

	.filterPanel {
		transform: translateY(0);
	    top: 185px;
	    bottom: auto;
	    height: 85vh;
	}
	.filterPanel input {
		display: block;
		font-size: 14px;
	    width: 250px;
	    height: 50px;
	}
	.numberOfShelters {
	    font-size: 1.3em;
	    margin: 20px;
	}
	.closePanel {
		top: 200%;
	}

	.filterPanel .selected {
		margin-left: 25px;
	}

	.volunteerSuppliesButton {
		bottom: 35px;
	    right: 10px;
	}

	.addAShelterButton {
		bottom: 85px;
	    right: 10px;
	}
}