.App {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map {
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.filterPanel {
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 10px;
    max-width: 300px;
    height: calc(100% - 200px);
    background: rgba(100, 100, 100, .85);
    overflow-y: scroll;
}

.filterPanel input {
	white-space: normal;
	vertical-align: top;
    font-size: 14px;
    width: 41%;
    height: 75px;
    margin: 10px;
    cursor: pointer;
    color: white;
    border: none;
    transition: .3s;
}

.closePanel {
	left: -300px;
}

.filterPanel .selected {
	background: rgb(20, 150, 250);
	opacity: 1;
}

.leaflet-container a.leaflet-popup-close-button {
	right: 12px;
	font: 40px/30px Tahoma, Verdana, sans-serif;
}

.filterInfo {
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 10px;
	width: 280px;
    color: white;
    background: rgba(90, 90, 90, .9);
    padding: 10px;
    border-radius: .3rem;
    font-size: 16px;
    text-align: center;
}

hr {
	width: 200px;
	margin: 20px auto;
}

.externalLinkButton {
	display: inline;
}

/*****BUTTONS*****/

.leaflet-container .popupPhone {
  background: rgb(20, 150, 250);
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: .3rem;
}

.externalLinkButton a {
	text-decoration: none;
}

.blueButton {
	background: rgb(52, 111, 140);
	opacity: .8;
}

.redButton {
	background: rgb(204, 45, 50);
}

.purpleButton {
	background: rgb(129, 82, 120);
}

.greenButton {
	background: rgb(20, 180, 70);
}

.togglePanelButton {
	position: absolute;
	z-index: 3;
	width: 250px;
	height: 50px;
	left: 10px;
	top: 65px;
	cursor: pointer;
	color: white;
    border: none;
    background: rgb(90, 90, 90);
    font-size: 1em;
}

.geoLocateButton {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    display: flex;
    width: 250px;
	height: 50px;
    background: rgba(100, 100, 100, .8);
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
}

.geoLocateButton input {
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: white;
    border: none;
    background: rgb(226, 70, 70);
}

.title {
    font-size: 1.1em;
    margin: 20px auto 5px;
    color: white;
    text-align: center;
}

input {
	border-radius: .3rem;
}

/*END BUTTONS*/

.hideTopButtons {
	display: none;
}

/******Responsiveness*****/

@media (min-width: 600px) {

	.geoLocateButton {
		right: 50px;
		left: auto;
	}

	.geoLocateButton input {
	    font-size: 16px;
	}

	.togglePanelButton {
		top: 10px;
	}

	.externalLinkButton {
		display: inline;
	}

	.filterPanel {
	    top: 85px;
	    bottom: auto;
	    height: 75vh;
	    transition: .15s;
	}

	.filterPanel .externalLinkButton input {
		display: inline;
		width: 41%;
		height: 75px;
		white-space: normal;
    	vertical-align: top;
    	padding: 10px;
	}

	.filterPanel input {
		display: block;
		font-size: 16px;
	    width: 250px;
	    height: 50px;
	    font-size: 15px;
	}
	.title {
	    font-size: 1.3em;
	    margin: 20px auto 10px;
	}
	.closePanel {
		left: -300px;
	}

	.filterPanel .selected {
		margin-left: 25px;
	}

	.filterInfo {
	    left: 10px;
	}

}



/*Loading*/

.sk-fading-circle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(,-50%, -50%);
  z-index: 10;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}